   
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCjrIq0NcCP0HGT1SZz08-XoCHPAt6c0P4",
    authDomain: "my-project-1504100830293.firebaseapp.com",
    databaseURL: "https://my-project-1504100830293.firebaseio.com",
    projectId: "my-project-1504100830293",
    storageBucket: "my-project-1504100830293.appspot.com",
    messagingSenderId: "228741658263"
  };
  firebase.initializeApp(config);
</script>
   <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>