<!DOCTYPE html>
<html>
    <head>
        <title>The Dugout</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A soccer blog which covers all the latest news in the world of football." />
        <meta property="og:title" content="The Dugout"/>
        <meta property="og:description" content="A soccer blog which covers all the latest news in the world of football." />
        <meta property="og:image" content="https://image.ibb.co/deyytm/thedugout.png"/>
        <link rel="shortcut icon" href="https://image.ibb.co/foYUim/580b585b2edbce24c47b2b81.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        
    </head>
    <body>
        <div class="ui inverted fixed menu">
           <div class="ui container">
                <a href="/blogs" class="header item" style="text-decoration:none;"><i class="soccer icon"></i> The Dugout</a>
               <a href="/blogs" class="item" id="mane">Home</a>
               <a href="/secret" class="item" id="hosa">New Post</a>
               
           </div>
           <a href="https://www.facebook.com/AdithyaBhat17" class="item" id="facebook"><i class="facebook f icon"></i></a>
           <a href="https://twitter.com/AdithyaBhat9" class="item" id="twitter"><i class="twitter icon"></i></a>
           <a href="https://github.com/AdithyaBhat17" class="item" id="github"><i class="github icon"></i></a>
           <a href="https://www.instagram.com/adithyabhat__/" class="item" id="instagram"><i class="instagram icon"></i></a>
           <a href="/secret" class="header item" id="newbutton"><i class="write square icon"></i></a>
        </div>
   
        
       