<% include partials/header %>
<div class="container">
		<div class="row">
		<div class="col-md-6 col-sm-12">
			<h1>Adithya Bhat</h1>
			<h5>Full-Stack Web Developer</h5>
			<img src="https://avatars3.githubusercontent.com/u/20818481?s=400&u=1676345dc569bd3b6f197f478694558c5e8be720&v=4" class="img-circle  img-border" >
			
			<div style="margin:auto;">
				<a href="https://www.facebook.com/AdithyaBhat17">
                    <i class="fa fa-facebook-official social" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="https://www.linkedin.com/in/adithya-nr-8002a8148">
                    <i class="fa fa-linkedin social" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="https://www.github.com/AdithyaBhat17">
                    <i class="fa fa-github social" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="https://www.twitter.com/Adithyabhat9">
                    <i class="fa fa-twitter social" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="https://www.instagram.com/adithyabhat__">
                    <i class="fa fa-instagram social" aria-hidden="true"></i>
                </a>
            </div>
            <p>Hey there!<br>I'm Adithya,a student of B.Tech in CSE at RNS Institute of Technology<br>The main objective of this website is to provide suggestions to users looking to buy a smartphone which suits their price range.<br>We provide unbiased information on phones running Android,iOS and Blackberry OS. ranging upto INR 1 lakh. </p>
        </div>
		</div>
	</div>
	
<% include partials/footer %>
